@import "../../constants/variables";

.headingTop {
    @media only screen and (min-width: $minTablet) {
        margin-right:auto;
    }

    @media only screen and (min-width: $minDesktop) {
        margin-right:initial;
    }
}


.headingBottom {
    text-align: center;
    @media only screen and (min-width: $minTablet) {
        margin-right:auto;
        text-align: left;
    }   
}
