@import "../../constants/_variables.scss";

@mixin listBaseStyles{
        display: none;
        .listItem{
            font-weight:bold;
            float:left;
            display:block;
            color: $white;
            margin-right:1em;
            cursor:pointer;
            &:hover{
                color: $brightOrange;
                transition: transform 0.5s ease-out;
                transform: scale(1.1);
            }
        }
    
        @media only screen and (min-width: $minDesktop) {
            display:initial;
        }
    
    
}

.listTop{
    @include listBaseStyles("flex");
    
}

.listBottom{
    @include listBaseStyles("flex");
}




