@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* media screens */

$maxPhone: 375px;
$minTablet: $maxPhone+1;
$maxTablet: 768px;
$minDesktop: $maxTablet+1px; 

/* widths */


$paddingDesktopLanding: 7em;

// =================colors===================

$black : #000000;
$brightBlack : #101010;
$silver: #F1F1F1;
$brightSilver: #FAFAFA;
$white : #FFFFFF;
$brightOrange : #fbaf85;
$darkOrange : #D87D4A;



$border-radius:8px;


@mixin responsiveBackgroundPicture {
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}



