@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

// =================colors===================

$black : "#000000";
$brightBlack : "#101010";
$silver: "#F1F1F1";
$brightSilver: "#FAFAFA";
$white : "#FFFFFF";
$brightOrange : "#fbaf85";
$darkOrange : "#D87D4A";

// =================Fonts===================
$manrope:"'manrope',sans-serif"



// =================heading font-sizes==================

