@import "../constants/variables";


.imageContainer{
    width:100%;
    height:729px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../assets/home/mobile/image-header.jpg"); 

    @include responsiveBackgroundPicture;

    @media only screen and (min-width: $minTablet) {
        background-image: url("../assets/home/tablet/image-header.jpg"); 
    }

    @media only screen and (min-width: $minDesktop) {
        background-image: url("../assets/home/desktop/image-hero.jpg"); 
        justify-content: left;
    }
}

.mainContainer{
    padding:7em 1em;

    .firstBox{
        display: relative;
        height:320px;
    }



    @media only screen and (min-width: $minTablet) {
       padding:7em 2em;
    }

    @media only screen and (min-width: $minDesktop) {
        padding:7em 8em;
     }

}